/* Class ="" => .   */
/* id = ""  =>  #   */

.headingContainer {
    border: none blue;
    background-color: aliceblue;
    height: 0px;
    display: block;
    justify-self: center;
    text-align: center;
    line-height: 1em;
}
.imageContainer{
    display: flex;
    justify-content: end;
}
.mainImage{
    height: auto;
}


.heading {
    text-decoration: underline;
}

ul{
    border:none blue;
}
​
ol{
    border:solid red;
}